<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="page_head(title)">
<meta http-equiv="Content-Type" content="text/html; charset = UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
<title>[[${title}]]</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
	<div th:fragment="footer" class="text-center m-3">
		<p>Shop me Control Panel - Copyright &copy; Shopme</p>
	</div>

	<th th:fragment="column_link(fieldName, columnLabel, removeTag)"
		th:remove="${removeTag}"><a class="text-white"
		th:href="@{'/users/page/' + ${currentPage} + '?sortField='+ ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
			[[${columnLabel}]] </a> <span th:if="${sortField == fieldName}"
		th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down' }"></span>
	</th>

	<a th:fragment="page_link(pageNum,label)" class="page-link"
		th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>

</body>
</html>