<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Shopme Admin')" />
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Shopme Admin Control Panel</h2>
			
			Welcome
			<a 
				
				th:href="@{/account}"
				sec:authentication="principal.fullname"></a>
				&nbsp;
			<span sec:authentication="principal.authorities"></span>
		</div>

		<div th:replace="fragments :: footer"></div>


	</div>
	<script type="text/javascript">
		$(document).ready(function() {

			$("#logoutLink").on("click", function(e) {
				e.preventDefault();
				document.logoutForm.submit();
			});
		});
	</script>
</body>
</html>