<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset = UTF-8">
	<meta name = "viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
	<title>Login - Shopme Admin</title>
	
	<link rel = "stylesheet" type = "text/css" th:href = "@{/webjars/bootstrap/css/bootstrap.min.css}" />
	
	
</head>
<body>
	<div class = "container-fluid text-center">
		
			 
		<div>
			<img th:src = "@{/images/ShopmeAdminBig.png}" />
		</div>
		
		<form th:action="@{/login}" method = "post" style = "max-width: 350px; margin: 0 auto">
			<div th:if = "${param.error}">
				<p class = "text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			</div>
			<div th:if="${param.logout}">
				<p class = "text-warning">You have been loggout</p>			
			</div>
		
			<div  class = "border border-secondary rounded p-3">
				<p> Access to Shopme Control Panel</p>
				<p>
					<input  type="email" name = "email" class = "form-control" placeholder="Email" required/>
				</p>
				<p>
					<input  type="password" name = "password" class = "form-control" placeholder="Password" required/>
				</p>
					<input type = "checkbox" name = "remember-me" />&nbsp;Remember Login
				<p>
					<input  type="submit" value = "Login" class = "btn btn-primary" />
				</p>
			</div> 
		</form>
		
		<div>
			<p>Shop me Control Panel - Copyright &copy; Shopme</p> 
		</div>
	
	</div>
	
</body>
</html>