*.icon-white {color : white}
*.icon-silver {color : silver}
*.icon-green {color : green}
*.icon-dark {color : gray}
*.icon-red {color : red}

@media screen and (max-width: 768px){
	/* small screen */
	div.full-details {display: none}
	div.less-details {display:block}
	
}

@media screen and (min-width: 768px) and (max-width: 1024px){
	/* medium screen */
	div.full-details {display: block}
	div.less-details {display:none}
	.hideable-column { display : none}
	
}

@media screen and (min-width: 1024px){
	/* medium screen */
	div.less-details {display:none}
	.hideable-column { display : table-cell}
	
	
}