<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - Shopme Admin')" />

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}"
				class="fa-solid fa-user-plus fa-2x icon-dark mr-2"></a> &nbsp;&nbsp;
			<a th:href="@{/users/export/csv}"
				class="fa-solid fa-file-csv fa-2x icon-dark mr-2"></a> &nbsp;&nbsp;
			<a th:href="@{/users/export/excel}"
				class="fa-solid fa-file-excel fa-2x icon-dark mr-2"></a>
			&nbsp;&nbsp; <a th:href="@{/users/export/pdf}"
				class="fa-solid fa-file-pdf fa-2x icon-dark mr-2"></a>
		</div>

		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]</div>

		<div>
			<form th:action="@{/users/page/1}" class="form-inline m-3">
				<input type="hidden" name="sortField" th:value="${sortField}" /> <input
					type="hidden" name="sortDir" th:value="${sortDir}" />

				Filter:&nbsp; <input type="search" name="keyword"
					th:value="${keyword}" class="form-control" required />
				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary">
					<i class="fas fa-search "></i>
				</button>
				&nbsp;&nbsp;
				<button type="button" class="btn btn-secondary"
					onclick="clearFilter()">
					<i class="fas fa-eraser "></i>
				</button>
			</form>
		</div>

		<div class="full-details">

			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th class="hideable-column">
						<th th:replace="fragments :: column_link('id','User ID','tag')" />
						</th>

						<th>Photos</th>

						<th class="hideable-column">
						<th th:replace="fragments :: column_link('email','E-mail','tag')" />
						</th>

						<th
							th:replace="fragments :: column_link('firstName','First Name','none')" />

						<th
							th:replace="fragments :: column_link('lastName','Last Name','none')" />
						<th>Roles</th>
						<th
							th:replace="fragments :: column_link('enabled','Enabled','none')" />
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="user : ${listUsers}">
						<td class="hideable-column">[[${user.id}]]</td>
						<td><span th:if="${user.photos == null}"
							class="fa-solid fa-image-portrait fa-2x icon-silver"></span> <img
							th:if="${user.photos != null}"
							th:src="@{${user.photosImagePath}}" style="width: 100px" /></td>
						<td class="hideable-column">[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>

						<td><a th:if="${user.enabled == true}"
							class="fas fa-check-circle fa-2x icon-green"
							th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
							title="Disable this user"></a> <a
							th:if="${user.enabled == false}"
							class="fas fa-circle fa-2x icon-dark"
							th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
							title="Enable this user"></a></td>
						<td><a class="fa-solid fa-pen-to-square fa-2x icon-green"
							th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"></a>
							&nbsp; <a class="fa-solid fa-trash fa-2x icon-red"
							th:href="@{'users/delete/' + ${user.id}}"
							title="Delete this user"></a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="less-details">
			<div th:each="user : ${listUsers}" class="row m-1">
				<div class="col-4">
					<span th:if="${user.photos == null}"
						class="fa-solid fa-image-portrait fa-2x icon-silver"></span> <img
						th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
						style="width: 100px" />
				</div>
				<div class="col-8">
					<div>[[${user.fullName}]]</div>
					<div>[[${user.roles}]]</div>
					<div class="mt-2">
						<a th:if="${user.enabled == true}"
							class="fas fa-check-circle fa-2x icon-green"
							th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
							title="Disable this user"></a> &nbsp; <a
							th:if="${user.enabled == false}"
							class="fas fa-circle fa-2x icon-dark"
							th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
							title="Enable this user"></a> &nbsp; <a
							class="fa-solid fa-pen-to-square fa-2x icon-green"
							th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"></a>
						&nbsp; <a class="fa-solid fa-trash fa-2x icon-red"
							th:href="@{'users/delete/' + ${user.id}}"
							title="Delete this user"></a>
					</div>
				</div>
				<div>&nbsp;</div>
			</div>


		</div>


		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing users # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No users found</span>
		</div>


		<div th:if="${totalItems > 0}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center flex-wrap">
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(1,'First')"></a>
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a
						th:replace="fragments :: page_link(${currentPage - 1},'Previous')"></a>
					</li>
					<li
						th:class="${currentPage != i ? 'page-item' : 'page-item active'} "
						th:each="i : ${#numbers.sequence(1,totalPages)}"><a
						th:replace="fragments :: page_link(${i},${i})"></a></li>


					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${currentPage + 1},'Next')"></a>
					</li>

					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="fragments :: page_link(${totalPages},'Last')"></a>
					</li>
				</ul>
			</nav>
		</div>

		<div th:replace="fragments :: footer"></div>

	</div>
	<script type="text/javascript">
		$(document).ready(
				function() {
					$(".link-delete")
							.on(
									"click",
									function(e) {
										e.preventDefault();
										link = $(this);

										userId = link.attr("userId");
										$("#yesButton").attr("href",
												link.attr("href"));
										$("#confirmText").text(
												"Are you sure you want to delete this user ID "
														+ userId + "?");
										$("#confirmModal").modal();
									});
				});

		function clearFilter() {
			window.location = "[[@{/users}]]";
		}
	</script>

</body>
</html>